<div class="container">
  <!-- Coded Logo -->
  <header class="logo">
    <!-- <mat-icon > chat_bubble_outline</mat-icon> -->
    <div class="loader">
      <span>T</span>
      <span>y</span>
      <span>p</span>
      <span>i</span>
      <span>n</span>
      <span>g</span>

      <span>T</span>
      <span>e</span>
      <span>s</span>
      <span>t</span>

    </div>
    <i  class="fa-regular fa-keyboard fa-bounce" style="color: #FFD43B;"></i>


  </header>
    <nav>
      <!-- Nav Items -->
      <ul>
        <li><a routerLink="/content" aria-label="Product">Product</a></li>
        <li><a href="#" aria-label="Pricing">Pricing</a></li>
        <li><a href="#" aria-label="Marketplace">Marketplace</a></li>
        <li><a href="#" aria-label="Customers">Customers</a></li>
        <li><a href="#" aria-label="Support">Support</a></li>
        <li><a href="#" aria-label="Sign-in">Sign-in</a></li>
        <!-- <mat-icon >keyboard</mat-icon> -->
      </ul>
    </nav>
</div>
